<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pupil.app">

    <uses-permission android:name="android.permission.CAMERA" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <package android:name="net.one97.paytm" />
        <package android:name="com.snapwork.hdfc" />
        <package android:name="com.axis.mobile" />
        <package android:name="com.csam.icici.bank.imobile" />
    </queries>

    <application
        android:name=".PupilApp"
        android:label="Pupil"
        android:theme="@style/Theme.Pupil"
        android:exported="true">
        <activity android:name=".MainComposeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
